[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
pdbpp = "*"
ipdb = "*"

[packages]
pychromecast = "*"
requests-toolbelt = "*"
python-dotenv = "*"
redis = "*"
requests = "*"
pytest = "*"
plexapi = "*"
python-levenshtein = "*"
pluginbase = "*"

[requires]
python_version = "3.7"
